@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.assin {
    font-family: 'Great Vibes', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #B2987D
}

.banner {
    background-image: url('/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100vw;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100vh;
}



.container_conteudo {
    padding: 20px;
    gap: 30px;
    height: 60vh;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .titulo {
        font-size: 46px;
        font-weight: 600;
    };
    .subtitulo {
        font-size: 22px;
        font-weight: 400;
    };
    .paragrafo {
        font-weight: 300;
        font-size: 14px;
    }

}

.mainDark {
    background-color: #252323;
    color: white;
    
}

.container_header {
    background-color: #fff;
    width: 100%;
    max-height: 10vh;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_headerDark {
    background-color: #252323;
    width: 100%;
    max-height: 10vh;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.container_logo {
    max-width: 1024px;
    width: 100px;
    height: 100px;
    display: flex;
    .logo {
        width: 100%;
        height: 100%;
    };
}

.container_logoDark {
    max-width: 1024px;
    width: 100px;
    height: 100px;
    display: flex;
    .logo {
        width: 100%;
        height: 100%;
        filter: invert(1) brightness(2);
    }
}

.container_botao {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .botao {
        background-color: transparent;
        border: solid #B2987D 2px;
        border-radius: 15px;
        padding: 6px 12px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.botao:hover {
    font-size: 1.5rem;
}

.botaoDark:hover {
    font-size: 1.5rem;
}

.botaoDark {
    background-color: transparent;
    color: #B2987D;
    border: solid #B2987D 2px;
    border-radius: 15px;
    padding: 6px 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width <= 768px) {
    .banner {
        height: 20vh;
    }
}

@media (width <= 425px) {
    .banner {
        height: 15vh;
    }
}
    
